@using WebinarWave.ViewModels
@model JoinToRoomsViewModel;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>join to chat Page</title>
</head>
<body>
    <div id="createRoomForm">
        <h3>join to chat</h3>
        <p>
            <label>Input room name</label><br />
            <input type="text" id="name" />
        </p>
        <input type="submit" id="createRoom" value="Join" />
    </div>
    <br />
    <h3>Not privated rooms:</h3>
     <div id="chatBox">
        @foreach (var item in Model.Rooms)
        {
                <p>@item.Name</p>
        }
    </div>
    <script>
        document.getElementById("createRoom").addEventListener("click", async e => {
            e.preventDefault();
            var roomName = document.getElementById("name").value;
            window.location.replace("https://localhost:7225/room/" + roomName);

        });
    </script>
</body>
</html>