@using WebinarWave.ViewModels
@model JoinWithPasswordViewModel;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>join to chat Page</title>
</head>
<body>
    <div id="createRoomForm">
        <h3>join to @Model.Name</h3>
        <p>
            <label>Input password</label><br />
            <input type="text" id="password" />
        </p>
        <input type="submit" id="createRoom" value="Join" />
    </div>
    <script>
        console.log("/room/","@Model.Name");
        document.getElementById("createRoom").addEventListener("click", async e => {
            e.preventDefault();
            
            const response = await fetch("/room/"+"@Model.Name", {
                method: "POST",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    Name: "@Model.Name",
                    Password: document.getElementById('password').value
                })

            });
        });
    </script>
</body>
</html>